body{
background:gray;
}
#banner{
    width: 100%;
}
.titulos{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;

}
.missao b{
   color: blue;
   font-weight:bolder;
   font-style: italic;  
}
.itens{
    font-style: italic;

}