#banner{
    width: 100%;
}
.principal{
    background:gray;
    padding: 25px;
}
.titulo{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    transition:3s;
    margin: auto;
}
h1{
    width:250px;
}
h1:hover{
    color: rgb(0, 183, 255);
    transform: scale(1.3s);
    
}
.missao b{
   color: blue;
   font-weight:bolder;
   font-style:italic;  
}
.itens{
    font-style: italic;

}
.beneficios{
    font-family: 'Dancing Script', cursive;
    background-color: white;
    
    
}
h3{
    text-align: center;
    font-size: 2rem;
}
ul{
    display:inline-block;
    vertical-align:top;
    width: 20%;
    margin-right:15%;
  
}
#beneficioImg{
    width: 50%;
    
}